*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
}
input
{
    text-align: center;
}

.container
{
    border: 3px solid black;
    height: 800px;
    margin: auto;
    width: 70%;
    border-radius: 10px;
    background-color: aqua;
    margin-top: 4rem;
}
h2 , h4
{
    text-align: center;
    color: green;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;

}

h4
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;  
}


.customer
{
    width: 70%;
    margin: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

#customerName
{
    width: calc( 100%  / 3 );
    text-align: center;
}

#customerKm
{
    width: calc( 100% / 3 );
    text-align: center;
}

#customerAge
{
    width: calc( 100% / 3 );
    text-align: center;
}

#inputCustomerName, #inputCustomerKm, #inputCustomerAge
{
    width: 80%;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
}


.commands
{
    display: flex;
    margin: 2rem;
    justify-content: center;
}

button
{
    width: 100px;
    padding: 0.5rem;
    margin: 1rem;
    color: green;
    border-radius: 10px;
}

.separator
{
    border: 3px solid green;
    margin-bottom: 2rem;
}

.ticket
{
    width: 85%;
    margin: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.outputCustomerName, .outputCustomerTicket, .outputCustomerPrice
{
    width: calc( 100% / 3 );
    text-align: center;
    color: green;
}

#outputName, #outputTicket, #outputPrice
{
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 1.2rem;
}

.messageFromRaylway
{
    width: 70%;
    height: 100px;
    margin: auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

#msg
{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}